*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
html {
  scroll-behavior: smooth;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
input[type="email"]::webkit-validation-bubble-message {
  display: none;
}