@use "../abtract/variables" as colors;
@use "../abtract/mixin" as layout;
.card {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include layout.flex($align: flex-start, $direction: row, $gap: 0);
  @include layout.media-break() {
    @include layout.flex($direction: column-reverse, $gap: 3rem);
    width: 100%;
    height: 100%;
    margin-top: 6rem;
  }
  &__content {
    flex: 60%;
    padding: 1.9rem 0 0 10rem;
    @include layout.media-break() {
      padding: 0rem 0 7rem 0;
      transform: none;
    }
    transform: translateY(0);
    transition: transform 0.15s ease-in;
    &--active {
      transform: translateY(50rem);
      transition: transform 0.15s ease-in;
    }
  }
  &__icon {
    width: 11rem;
    margin: 2rem 0 9rem;
    @include layout.media-break() {
      width: 8rem;
      margin: 0;
    }
  }
  &__box {
    @include layout.media-break() {
      position: absolute;
      top: 2.1rem;
      left: 2rem;
    }
  }
  &__wrapper {
    width: 70%;
    @include layout.media-break() {
      width: 100%;
    }
  }

  &__ilustration {
    flex: 45%;
    &--active {
      transform: translateY(-50rem);
      transition: transform 0.15s ease-in;
    }
  }
  &__thanks {
    width: 35rem;
    height: 11rem;
    position: absolute;
    top: calc(50% - 5.5rem);
    left: calc(50% - 17.5rem);
    border-radius: 2rem;
    padding-block: 2rem;
    background: #a0d9ff;
    display: none;
    transition: opacity 0.2s ease-in 1s;
    box-shadow: inset -4px 4px 8px #bfeffd, inset 4px -4px 8px #648988;
    @include layout.media-break() {
      width: 25rem;
      height: 14rem;
      top: calc(50% - 8rem);
      left: calc(50% - 12.5rem);
    }
    &--active {
      display: block;
      transition: opacity 0.2s ease-in 1s;
    }
  }
}
