@use "../abtract/variables" as colors;
@use "../abtract/mixin" as layout;
.card {
  width: 92%;
  height: 100vh;
  margin-inline: auto;
  @include layout.flex($align: flex-start, $direction: row, $gap: 0);

  &__content {
    flex: 60%;
    // outline: solid red 1px;
    padding-top: 1.9rem;
    padding-left: 7rem;
  }
  &__icon {
    width: 12rem;
    margin: 2rem 0 9rem;
  }
  &__wrapper {
    width: 70%;
  }

  &__ilustration {
    flex: 45%;
  }
}
